*{
    margin: 0;
    box-sizing: border-box;}
body{ 
    width: 90%;
    height: 100vh;
    border: 16px solid #D8D8D8;
    background-color: #EEEEEE;
    display: flex;
    justify-content: center;
    align-items: center;}
.conteiner{
    width: 1160px;
    height: 528px;
    border-radius: 16px;
    display: flex;
    gap:40px;}
.pizza{
    width: 360px;
    height: 528px;
    border-radius: 16px;
    background-color: #FFFFFF;
    }
.photobox{
    width:360px; height: 216px;
    position: relative;}
.icon{ 
    position: absolute;
    top: 16px;
    right: 24px;}
.titlebox{
    width: 312px;
    height: 26px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-top: 32px;
    margin-left: 24px;}
.title{
    width: 198px;
    height: 25px;
    display: flex;
    align-items: center;}
.iconsbox1{
    width: 57px;
    height: 24px;}
h1{ 
    font-weight: 400;
    font-size: 27px;
    color:#081F32;}
.textbox{
    width: 312px;
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 24px;}
p{
    font-weight: 400;
    font-size: 19px;
    color:#6E798C ;}
.infobox{
    width: 312px;
    height: 25px;
    display: flex;
    justify-content: space-between;
    margin: 24px;}
span{
    font-weight: 600;
    font-size: 16px;
    color: #A5ADBB;}
.pricebox{ 
    width: 312px;
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 24px;}
.price{
    width: 155px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;}
.black_price{
    font-weight: 400;
    font-size: 28px;
    color:#081F32 ;}
.red_price{
    font-weight: 400;
    font-size: 20px;
    color: #F8593B;
    text-decoration: line-through;}
.order{
    width: 114px;
    height: 44px;
    border-radius: 8px;
    background-color:#2ECC71 ;
    display: flex;
    justify-content: center;
    align-items: center;}
.text_order{
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;}
.tortini{
    width: 360px;
    height: 528px;
    border-radius: 16px;
    background-color: #FFFFFF;}
.infobox1{ 
    width: 313px;
    height: 25px;}
.cake{
    width: 360px;
    height: 528px;
    border-radius: 16px;
    background-color: #FFFFFF;}